.main
  = render 'events/header', :selected_item => 'services'

  .section

    = render '/table_titre_intrasection', :params => { :titre => 'Nouveau service' }

    = render 'form'

    %hr.intrasection_top_liens
    
    .liens_intrasection

      = link_to "⇇ back", event_services_path(@event.id)
      
    %hr.intrasection_bottom_liens