- unless @invoice.events.count == 0

  %table.ligne
    %tr
      %th Événement
      %th Prix facturé
    - @invoice.events.each do |event|
      %tr
        %td
          = event.name
        %td
          = to_euro(calcul_prix_event(event.id))

- else
  %i ∅ aucun événement ─