= render 'invoices/list'

.main
  = render 'invoices/header', :selected_item => 'show'

  .section
    = render 'form'
  
    %hr.intrasection_top_liens
  
    .liens_intrasection
      = link_to "⇇ back", invoice_path
      
    %hr.intrasection_bottom_liens