%dl
  %dt Catégorie :
  %dd= @event.category.name
%dl
  %dt Nom :
  %dd= @event.name
%dl
  %dt Client :
  %dd
    - if @event.customer != nil
      - @event.customer.data.lines.each do |line|
        = line
        %br
    - else
      %i no client
%dl
  %dt Lieu :
  %dd
%dl
  %dt Adresse :
  %dd
