:ruby

  if controller_name == 'events'
    event_id = params[:id].to_i
  else
    event_id = params[:event_id].to_i
  end

  if controller_name == 'services'
    service_id = params[:id].to_i
  else
    service_id = params[:service_id].to_i
  end


.left_menus

  - if session[:events_liste_type] == '1'
    = render 'events/list_mode1', :event_id => event_id, :service_id => service_id
  - else
    = render 'events/list_mode2', :event_id => event_id, :service_id => service_id