
:ruby
  events = Event

  case(session[:tri_sens])
    when '3'
      events = events.order("name ASC")
    when '4'
      events = events.order("name DESC")
  end

  case(session[:tri_type])
    when '3'
      render :text => "caca"
      events = events.where("invoice_id = ''")
  end

.menu_gauche_1
  %ul
    %li
      = link_to '→ New event', new_event_path
    - events.each do |event|
      %li
        - active = (event_id == event.id ? :active : nil)
        - evt = event.category.short_name + " - " + event.name
        = link_to evt, event_path(event.id), :class => active
        
.menu_gauche_2
  - if ( params[:id].present? || params[:event_id].present? )
    %ul
      %li
        = link_to '→ New service', new_event_service_path(event_id) 
      - Event.find(event_id).services.order(:starts_at).each do |service|
        %li
          - active = (service_id == service.id ? :active : nil)
          - ser = service.starts_at.to_s(:cust_short) + " → " + service.relative_ends_at
          = link_to ser, event_service_path(service.event.id, service.id), :class => active