<% last_event_id = nil %>

<ul>
  <li>
    <%= link_to '→ New event', new_event_path %>
  </li>
    <ul>
      <% services.each do |service| %>
        <% if service.event.id == last_event_id %>
          <li><%= link_to service.to_s, event_service_path(service.event.id, service.id), :class => (service_id == service.id ? :active : nil) %></li>
        <% else %>
            </ul>
            <li>
              <%= service.event.category.short_name + " - " + service.event.name %>
                <ul>
                  <li><%= link_to service.to_s, event_service_path(service.event.id, service.id), :class => (service_id == service.id ? :active : nil) %></li>
        <% end %>
        <% last_event_id = service.event.id %>
      <% end %>
    </ul>
  </li>
</ul>
