
= render 'events/list'

.main
  = render 'header', :selected_item => 'show'

  .section
    = render 'form'

    %hr.intrasection_top_liens
    
    .liens_intrasection
      = link_to '⇇ back', event_path

    %hr.intrasection_bottom_liens
