= render "list"

.main

  .section

    %table.ligne
      %tr
        %th Événement
        %th # services
        %th Status
      - @events.by_date.each do |event|
        %tr
          %td= link_to event.name, event_overview_path(event)
          %td= event.services.count
          %td= event.status[:texte]