.main

  .section
  
    = render '/table_titre_intrasection', :params => { :titre => 'Nouvel événement' }
  
    = render 'form'

    %hr.intrasection_top_liens
    
    .liens_intrasection

      = link_to "⇇ back", events_path
      
    %hr.intrasection_bottom_liens