= simple_form_for @customer do |f|
  .dl_deux_colonnes_base
    %dl
      %dt Data :
      %dd
        = f.input :data,
                  :label => false
    %dl
      %dt
      %dd
        = f.submit
  