
.main
  = render "tools/header", :selected_item => "customers"
  
  .section

    = render "customers/form"

    %hr.intrasection_top_liens
            
    .liens_intrasection
      = link_to "⇇ back", customers_path
                  
    %hr.intrasection_bottom_liens

        
  