= simple_form_for @crentite do |f|
  .dl_deux_colonnes_base
    %dl
      %dt Nom :
      %dd
        = f.input :name,
                  :label => false
        
    %dl
      %dt Numéro
      %dd
        = f.input :number,
                  :label => false
    %dl
      %dt
      %dd
        = f.submit
  