
.main
  = render "tools/header", :selected_item => "crentites"
  
  .section

    = render "crentites/form"

    %hr.intrasection_top_liens
            
    .liens_intrasection
      = link_to "⇇ back", crentites_path
                  
    %hr.intrasection_bottom_liens

        
  