
.main
  = render "tools/header", :selected_item => "templitems"
  
  .section

    = render "templitems/form"

    %hr.intrasection_top_liens
    
    .liens_intrasection
      = link_to "⇇ back", templitem_path(@templitem.id)      

    %hr.intrasection_bottom_liens
