.dl_deux_colonnes_base
  %dl
    %dt Prénom :
    %dd= @volo.first_name
  %dl
    %dt Nom :
    %dd= @volo.last_name
  %dl
    %dt Actif :
  %dl
    %dt Entité :
    %dd= @volo.entite
  %dl
    %dt DDN :

