%table
  %tr
    %th Name
    %th Cat
    %th Services
    %th
    - @events_without_invoice.each do |event|
      %tr
        %td= event.name
        %td= event.category.short_name
        %td= event.services.count
        %td= link_to "add", :controller => :events, :action => :add_to_invoice, :id => event.id, :invoice => @invoice