
.main
  = render "tools/header", :selected_item => "dispositifs"
  
  .section
   
    = render "dispositifs/form"
    
    %hr.intrasection_top_liens
    
    .liens_intrasection
      = link_to "⇇ back", dispositif_path(@dispositif.id)
      
    %hr.intrasection_bottom_liens
