
.main
  = render "tools/header", :selected_item => "dispositifs"
  
  .section

    = render "dispositifs/form"
    
    .lien_bas_de_page
      >
      = link_to 'Back', dispositif_path(@dispositif.id)