//
//  This is a manifest file that'll be compiled into application.css, which will include all the files
//  listed below.
// 
//  Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
// 
//  You're free to add application-wide styles to this file and they'll appear at the top of the
//  compiled file, but it's generally better to create a new file per style scope.
// 
// = require_self
// = require_tree .
//

body
  font-family: "URW Gothic L"

.menu
  background: rgb(255,127,127)
  border-radius: 4px
  float : top
  ul
    list-style: none
    margin: 0
    padding: 0
  li
    display: inline
    padding-left: 40px
  a
    font-size: medium
    color: white
    &:link
      text-decoration: none
    &:hover
      color: red
    &.active
      font-weight: bold
      color: red
      text-shadow: -1px 0 3px white, 0 1px 3px white, 1px 0 3px white, 0 -1px 3px white

.main
  overflow: auto
  .title
    color: red
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
    &.one
      font-size: xx-large
      padding-left: 80px
    &.two
      font-size: x-large
      padding-left: 120px
  .section
    //    border: 1px solid green
    margin: 8px
    dl
      margin: 0
      margin-top: 4px
      margin-bottom: 4px
      overflow: hidden
      dt
        margin-top: 2px
        margin-right: 16px
        font-size: x-small
        text-align: right
        color: red
        float: left
        width: 10%
        font-weight: bold
      dd
        font-size: small
        margin: 0
        float: left
        color: black
        i
          color: gray
    .info
      //      border: 1px solid blue
      margin: 8px
      h4
        margin: 0
        margin-left: 20px
        //        border: 1px solid yellow
        font-size: large
        color: black
        font-weight: bold
    h4
      margin: 0
      //      border: 1px solid yellow
      font-size: large
      color: black
      margin-left: 120px
      font-weight: bold
      hr
        width: 90%
        margin: 0
        margin-left: -120px
        color: red
        border: 0
        background: red //rgb(255,127,127)
        height: 1px // 2px
        //border-bottom: 1px solid rgb(255,127,127)
    h5
      margin: 0
      font-size: small
      color: red
    h6
      margin: 0
      font-size: small
      color: red
      float:left
      display: inline
      font-weight: bold

.notice
  float: right
  padding-right: 16px
  
.menu_gauche // mettre des s et regrouper
  float: left

.menu_gauche_1
  background: lightgray
  width: 300px
  overflow-y: auto
  margin: 8px
  padding: 4px
  border-radius: 4px
  ul
    list-style: none
    margin: 0
    padding: 0
    font-size: small
    li
      ul
        li
          padding-left: 16px
  a
    color: black
    &:link
      text-decoration: none
    &:hover
      color: red
    &.active
      font-weight: bold
      color: red
  height: 300px
      
.menu_gauche_2
  @extend .menu_gauche_1
  height: 150px
  
.menu_gauche_3
  @extend .menu_gauche_1
  height: 450px

.lien_bas_de_page
  font-size: small
  padding-left: 8px
  a
    color: black
    &:link
      text-decoration: none
    &:hover
      text-decoration: none
      color: red
    &:active
      font-weight: bold

table.graphe_volo
  width: 100%
  border-collapse: collapse
  &hr
    border: 0
    margin: 0
    height: 16px
    float: left
    &.a
      background: lightgray
    &.p
      background: green
    &.dp
      background: rgb(255,191,191)
    &.sp
      background: rgb(255,159,159)
    &.sv
      background: rgb(255,127,127)
  th
    white-space: nowrap
    padding-right: 4px
    font-size: x-small
    text-align: right
    font-weight: normal
    overflow: visible
  tr
    margin: 0
    padding: 0
  td
    width: 100%
    padding: 0
  table
    width: 100%
    border-collapse: collapse

